* {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  background-color: white;
  color: #47494d;
  margin: 0em;
}

header {
  background-color:#23477A;
}

header nav {
  display: block;
  position: fixed;
  background-color: #23477A;
  opacity: 0.8;
  padding: 0.8em;
  height: 2em;
  width: 100%;
  text-align: right;
}

header nav a {
  background-color: #23477A;
  color:white;
  padding: 0.4em;
  margin: 0.1em;
  text-decoration: none;
  display: inline-block;
}

#last_nav_item {
  margin-right: 1.5em;
}

img.large {
  width: 100%;
  min-height: 30em;
  max-height: 50em;
  display: block;
  clear: both;
}

header h1 {
  position: absolute;
  top: 6em;
  left: 1em;
  background-color:transparent;
  color: #f7f7f7;
  font-size: 400%;
}


main {
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
}

main section {
  display: inline-block;
  margin-top: 1.5em;
  margin-right: 0em;
}

main h1 {
  margin-bottom: 0.5em;
}

main section article {
  float: right;
  width: 69%;
  margin-right: 2em;
  line-height: 150%;
}

section a {
  text-decoration: none;
}

img#profile {
  width: 25%;
}

img.scaled {
  width: 100%;
  height: 30em;
}

figure {
  margin-top: 2em;
  margin-left: 0em;
  margin-right: 0em;
  padding: 0em;
  position: relative;
  width: 50%;
}

figure.align-left {
  float: left;
}

figure.align-right {
  float: right;
}

figcaption {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  margin: 1em;
  font-size: 200%;
  color: white;
  background-color: transparent;
}

.dark {
  color: #23477A;
  background: #f7f7f7;
  opacity: 0.8;
}

.icon {
  height: 26px;
  margin-right: 0.2em;
}

/* BLOG CSS */

.technical, .cultural {
  width: 50%;
  position: relative;
  top: 2em;
}

.technical {
  float: left;
}

.cultural {
  float: right;
}

.technical h1, .cultural h1{
  text-align: center;
  text-decoration: underline;
}


.tag_tech, .tag_cult {
  color: white;
  display: inline;
  padding: 0.1em;
  margin-top: 0.5em;
  position: absolute;
  left: 0.8em;
  bottom: 0.8em;
}

.tag_tech {
  background-color:#23477A;
}

.tag_cult {
  background-color:#42738F;
}

.post {
  display: inline-block;
  position: relative;
  border: 1px solid #47494d;
  margin: 1em;
  padding: 0.8em;
  width: 15em;
  height: 10em;
  vertical-align: top;
}

.post a:link {
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

.blog-post {
  text-align: left;
}

.project_box {
  display: inline-block;
  border: 1px solid #47494d;
  margin: 1.5em;
  padding: 0.8em;
  width: 25em;
  height: 10em;
  vertical-align: top;
}